@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-background: #ffffff;
  --card-foreground: #171717;
  --input-background: #ffffff;
  --input-foreground: #171717;
  --input-border: #10b981;
  --modal-border: #059669;
  --back-button: #ff6767;
  --back-button-hover: #d24949;
  --button-primary: #2563eb;
  --button-primary-hover: #1d4ed8;
  --button-secondary: #10b981;
  --button-secondary-hover: #059669;
  --success-background: #f0fdf4;
  --success-foreground: #15803d;
  --success-border: #bbf7d0;
  --error-background: #fef2f2;
  --error-foreground: #dc2626;
  --error-border: #fecaca;
  --secondary-text: #6b7280;
  --font-pixelify-sans: 'PixelifySans-Medium', 'Arial', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card-background: #1f2937;
    --card-foreground: #f9fafb;
    --input-background: #374151;
    --input-foreground: #f9fafb;
    --input-border: #bbf7d0;
    --modal-border: #4fffc7;
    --back-button: #af0000;
    --back-button-hover: #770000;
    --button-primary: #3b82f6;
    --button-primary-hover: #2563eb;
    --button-secondary: #10b981;
    --button-secondary-hover: #059669;
    --success-background: #064e3b;
    --success-foreground: #10b981;
    --success-border: #047857;
    --error-background: #7f1d1d;
    --error-foreground: #ef4444;
    --error-border: #dc2626;
    --secondary-text: #9ca3af;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pixelify-sans);
}

/* Utility classes for darkmode */

.bg-card {
  background-color: var(--card-background);
}

.text-card {
  color: var(--card-foreground);
}

.bg-input {
  background-color: var(--input-background);
}

.text-input {
  color: var(--input-foreground);
}

.border-input {
  border-color: var(--input-border);
}

.text-secondary {
  color: var(--secondary-text);
}

.button-primary {
  background-color: var(--button-primary);
  color: var(--foreground);
}

.button-primaryHover {
  background-color: var(--button-primary-hover);
}

.button-secondary {
  background-color: var(--button-secondary);
  color: var(--foreground);
}

.button-secondaryHover {
  background-color: var(--button-secondary-hover);
}

.bg-button-back {
  background-color: var(--back-button);
}

.modal-border {
  border-color: var(--modal-border);
}

.hover\:bg-button-primaryHover:hover {
  background-color: var(--button-primary-hover);
}

.hover\:bg-button-secondaryHover:hover {
  background-color: var(--button-secondary-hover);
}